<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <body>
    <ul th:fragment="sidebar" class="navbar-nav me-auto mb-2 mb-lg-0 mt-2 mt-lg-0 ms-lg-3">
      <li class="nav-item dropdown" th:if="${canManageStaff}">
        <a class="nav-link dropdown-toggle" href="#" id="adminMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-shield-halved me-1"></i>Quản trị hệ thống
        </a>
        <div class="dropdown-menu" aria-labelledby="adminMenu">
          <a class="dropdown-item" href="/employees"><i class="fa-solid fa-users-gear me-2"></i>Quản lý nhân viên</a>
          <a class="dropdown-item" href="/rooms"><i class="fa-solid fa-door-open me-2"></i>Thiết lập phòng</a>
          <a class="dropdown-item" href="/inventory"><i class="fa-solid fa-boxes-stacked me-2"></i>Quản lý kho</a>
          <a class="dropdown-item" href="/reports"><i class="fa-solid fa-chart-line me-2"></i>Báo cáo</a>
        </div>
      </li>
      <li class="nav-item" th:unless="${canManageStaff}">
        <a class="nav-link" href="/rooms"><i class="fa-solid fa-door-open me-1"></i>Thiết lập phòng</a>
      </li>
      <li class="nav-item" th:if="${canReceive}">
        <a class="nav-link" href="/reception">
          <i class="fa-solid fa-clipboard-user me-1"></i>
          Tiếp nhận
        </a>
      </li>
      <li class="nav-item" th:if="${canExamine}">
        <a class="nav-link" href="/examination">
          <i class="fa-solid fa-user-doctor me-1"></i>
          Khám bệnh
        </a>
      </li>
      <li class="nav-item" th:if="${canDispense}">
        <a class="nav-link" href="/pharmacy">
          <i class="fa-solid fa-pills me-1"></i>
          Cấp thuốc
        </a>
      </li>
      <li class="nav-item" th:if="${canDispense}">
        <a class="nav-link" href="/payment">
          <i class="fa-solid fa-receipt me-1"></i>
          Thanh toán
        </a>
      </li>
            <li class="nav-item">
              <a class="nav-link" href="/examination-history">
                <i class="fa-solid fa-clock-rotate-left me-1"></i>
                Lịch sử khám bệnh
              </a>
            </li>
            <li class="nav-item" th:if="${canManageInventory and !canManageStaff}">
              <a class="nav-link" href="/inventory">
                <i class="fa-solid fa-boxes-stacked me-1"></i>
                Quản lý kho
              </a>
            </li>
            <li class="nav-item" th:if="${canViewReports and !canManageStaff}">
              <a class="nav-link" href="/reports">
                <i class="fa-solid fa-chart-line me-1"></i>
                Báo cáo
              </a>
            </li>
    </ul>
  </body>
</html>
